/* <<<<<<< HEAD */
body {
  background-color: lightgrey;
}
#navbar {
  background-color: #362222;
  color: whitesmoke;
}
#showcase {
  margin-top: 80px;
}
#sectionW {
  margin-top: 100px;
}
#sectionM {
  margin-top: 100px;
  margin-bottom: 0;
  padding: 50px;
  color: whitesmoke;
  background-color: #000000;
}
.about {
  background-image: url(../assets/daniel-mensah-boafo-CPlVvVibKhA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 90vh;
}
